#### Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
## String 
String = "Kalpak"

In [2]:
## List
List = [1, 2, 3, "Kalpak", "Ram", 54, 78]

In [3]:
## float
Float = 20.03

In [4]:
## tuple
Tuple = (1,2, 85,74)

#### Q2. Given are some following variables containing data:

(i)	var1 = ' '

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1

What will be the data type of the above given variable.

In [51]:
## (i) var1 = ''

var1 = ''
type(var1)

str

In [52]:
## (ii)	var2 = ‘[ DS , ML , Python]’

var2 = '[ DS , ML , Python]'
type(var2)

str

In [53]:
## (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [54]:
## (iv)	var4 = 1.

var4 = 1
type(var4)

int

#### Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

#### /: / Operator returns the quotient of the value whose datatype is float
#### % : % Operator returns the reminder of the values.
#### // : // Opeator returns the integer part of the quotient of the given values
#### ** : ** Operator indicates the power or exponential

Examples:

In [55]:
45/9

5.0

In [56]:
85%6

1

In [57]:
45//6

7

In [58]:
5**7

78125

#### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [59]:
l1 = [45, 48.5, 'kalpak', True, 101, 84.6, "Ram", 785.66, 47, "Shyam"]

In [60]:
print("The Elements in l1 are:")
for i in l1:
      print(i)

The Elements in l1 are:
45
48.5
kalpak
True
101
84.6
Ram
785.66
47
Shyam

#### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible

In [61]:
A = 360
B = 2

sum = 0
if(A%B == 0):
    print("A is Completly Divisible")
    while(A%B == 0):
        A = A/B;
        sum = sum+1
    print(sum)
else:
    print("Not completly Divisible")

A is Completly Divisible
3

#### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

In [64]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for i in l2:
    if(i%3==0):
        print(i," is Divisible by 3")
    else:
        print(i," is not Dividible by 3")

1  is not Dividible by 3
2  is not Dividible by 3
3  is Divisible by 3
4  is not Dividible by 3
5  is not Dividible by 3
6  is Divisible by 3
7  is not Dividible by 3
8  is not Dividible by 3
9  is Divisible by 3
10  is not Dividible by 3
11  is not Dividible by 3
12  is Divisible by 3
13  is not Dividible by 3
14  is not Dividible by 3
15  is Divisible by 3
16  is not Dividible by 3
17  is not Dividible by 3
18  is Divisible by 3
19  is not Dividible by 3
20  is not Dividible by 3
21  is Divisible by 3
22  is not Dividible by 3
23  is not Dividible by 3
24  is Divisible by 3
25  is not Dividible by 3

#### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property

In [65]:
## Mutable : The elements which can be updated later once initilized are Mutable Elements
## Immutable : The elements which cannot be updated later once initilized are Mutable Elements

In [68]:
# List
l1 = ['kalpak', 52, 78, 78.36]
print(l1[0])

l1[0] = "Ram"
print(l1[0])

kalpak
Ram

Hence we conclude that List are mutable

In [70]:
# String
s1 = "Kondekar"
print(s1[5])

s1[5] = 'k'
print(s1[5])

k

TypeError: 'str' object does not support item assignment

Hence we conclude that Strings are immutable